
.tuwaiq{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
#tuwaiq2 {
    text-align: center;
}
.TuwaiqAcademy {
    color:     #a7415c;
    font-family: 'Courier New', Courier, monospace;
}
